* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

header {
  background-image: url("https://cdn.pixabay.com/photo/2020/07/23/01/29/books-5430104_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}
h1{
    margin-top: 50px;
    margin-bottom: 50px;
}
nav-item{
    width: 33%;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
main{
    margin-top: 20px;
}
section{
    margin-top: 10px;
    margin-bottom: 10px;
}
#welcome > p{
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
}
#catalog-input, #form-btn{
    text-align: center;
    font-size: 1.25em;
    font-weight: 800;
    padding: 8px;
}
#catalog-input{
    border: 2px solid black;
    width: 37.5%;
}
#staff-pick{
    text-align: center;
}
.staff-picks-img{
    border: solid 1px thick;
    border-radius: 0 7px 7px 0;
    width: 10em;
    height: 15em;
}

