* {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

/* Select `div` elements with `border` here */

div{
    border: 2px thick solid gray;
}


#post-list > li {
  list-style-type: none;
}

li > div {
  text-align: left;
}

#top-img {
  width: 10em;
  height: 10em;
  border: 12px thick solid green;
  border-radius: 50%;
}

#outside-wrapper {
  width: 90%;
  background-color: rgb(169, 206, 221);
  text-align: center;
}

.post-wrapper {
  text-align: left;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.post-img {
  width: 100%;
  border-radius: 5px;
}