* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img, .gallery-item > p {
  width: 500px;
}

hr {
  border: 2px solid;
}

#gallery-header {
  padding-bottom: 6px;
  width: 80%;
  margin: auto;
  text-align: left;
}

#gallery-header > h1 {
  margin-left: 0;
}

#gallery-header > p {
  color: #5e96ff;
  font-weight: 800;
}

#item-1{
    display: block;
    position: absolute;
}
#item-2{
    display: inline;
    position: relative;
    top: left: 20px;
    left: 20px;
}
#item-3{
    display: inline-block;
    position: fixed;
    padding-right: 20px;
    
}
#item-4{
    display: block;
    position: sticky;
    z-index: 10;
    padding: 100px;
    bottom: 100px;
}
#item-5{
    display: inline;
    position: absolute;
    padding: 100px;
}