#invite-wrapper {
    width: 75%;
    padding: 25px;
    background-color: aquamarine;
    color: navy;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#invite-text{
    width: 89%;
}
#itinerary{
    text-align: center;
}